$primary-color: #030422;
$secondary-color: #CECDCD;
$accent-color: #A39E93;
$body-text-color: #fff;
$heading-font-family: 'Montserrat', sans-serif;
$body-font-family: 'Montserrat', sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}